

<div class="modal fade" id="ModelAbout" tabindex="-1" role="dialog" aria-labelledby="ModalAbout" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalAbout">About BookStore</h5>
        <button type="button" class="close close-lg" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="lead">BookStore is a webapp based on Python-Flask using Google books api, database.
          <br>
          Book Store is a website for book readers. Reader can search for books by book name, author any common subject.
          Reader need to register to have his own account, Reader has a private page account and a table contains his bookshelf,
          so he can save his books and track you reading, edit, and delete.
          Reader's info is personal. every reader need a special username and password to access his account.
          Reader is free in any time to access his data.
          Reader data is saved the database.
          Every Reader is welcome, We appreciate your comments.
          <blockquote class="blockquote"><footer class="blockquote-footer">keep track of your bookstore and read more !
      </footer></blockquote></p>
            <hr>
          <p class="lead">BookStore هو تطبيق ويب يعتمد على Python-Flask باستخدام واجهة برمجة تطبيقات كتب Google وقاعدة بيانات postgresql.
          <br>
           متجر الكتب هو موقع على شبكة الإنترنت لقراء الكتب. يمكن للقارئ البحث عن الكتب حسب اسم الكتاب ، المؤلف أي موضوع مشترك.
           يحتاج القارئ إلى التسجيل ليكون لديه حساب خاص به ، ولدى القاريء حساب صفحة خاص وجدول بيانات يحتوي على رف كتبه ،
           ليتمكن من حفظ كتبه وتتبع قراءتك .
           معلومات القارئ شخصية. يحتاج كل قارئ إلى اسم مستخدم وكلمة مرور خاصين للوصول إلى حسابه.
           القارئ في أي وقت ل.
           يمكن للقارئ الوصول إلى بياناته ويتم حفظ بيانات قاعدة البيانات.
           كل قارئ مرحب به ، نحن نقدر تعليقاتك.
           <blockquote class="blockquote"><footer class="blockquote-footer">تتبع مكتبتك واقرأ المزيد!
      </footer></blockquote> </p>
      </div>

    </div>
  </div>
</div>

