{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block content %}
<div class="home-image">
    <h1> Welcome to Book Store,<br> For you </h1>
    <p>It's for free, It's for you<br>You Can search for books,
        save books to your table, and track if you want to read more
        ! </p>
</div>

<form method="POST" class="form-signin" style="color:white">
    {{ form.hidden_tag() }}

    <h1 class="h3 mb-3 font-weight-normal">
        Please Login
    </h1>
    <br>
    <div class="form-row">
        <div class="col-7">
            {{ form.search(class="form-control form-control-lg") }}<br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </div>

    </div>
</form>

<h1>Self Help</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="card card text-white bg-secondary mb-3">
            <div class="card-header">Self Help</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card text-white bg-secondary mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card card text-white bg-secondary mb-3">
        <div class="card-header">Header</div>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<br>
<h1>Novels-Stories</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="card card text-white bg-success mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card text-white bg-success mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card card text-white bg-success mb-3">
        <div class="card-header">Header</div>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<hr>
<h1>Biography</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="card card text-white bg-warning mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card text-white bg-warning mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card card text-white bg-warning mb-3">
        <div class="card-header">Header</div>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<hr>
<h1>History</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Header</div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">Header</div>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>



{% endblock %}

